body {
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	background: url("images/table.jpg") no-repeat center center fixed;
	background-size: cover;
}

h1 {
	font-weight: lighter;
	font-size: 106px;
	font-family: 'Kristi', cursive;	color: white;
	margin:-10px;
}

#logo {
	margin: 100px;
}

nav {
	text-align: center;
    height: 38px;
    padding: 15px;
    border-radius: 3px;
    margin:0 auto;
}

nav ul { 
	display: inline-block;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
    border-bottom:solid 1px #6C0000;
}

nav li {
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}

nav li a {
    height:30px;
    padding-top: 8px;
    margin: 0 20px;
    color: #fff;
    font: normal 12px arial;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}

nav a:hover{
	color:maroon;
}
