#banner {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
	margin: 0px;
	background-repeat: repeat-x;
    height: 10px;
    z-index: -1;
}

body {
	margin:300px 0 200px 150px;
	background-color: #52596a;
	background-image: url("background.jpg");
}

hr {
	color: #f77;
	background-color: #f77;
	margin: 15px 0 15px 0;
	width: 40px;
	height: 2px;
	border: 0 none;
}

p {
	color: white;
	font-size: 20px;
	font-family: helvetica, arial, sans-serif;
}
