body {
	background:url("../images/stripes.png"), url("../images/background.jpg");
	background-color: #52596a;
}
section {
	margin:300px 0 0 150px;
}
hr {
	color: #f77;
	background-color: #f77;
	margin: 15px 0 15px 0;
	width: 40px;
	height: 2px;
	border: 0 none;
}

p {
	color: white;
	font-size: 20px;
	font-family: helvetica, arial, sans-serif;
}
